.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2;
}

.axis path, .axis line{
  fill: none;
  stroke: grey;
  stroke-width: 1;
  shape-rendering: crispEdges; 
}

.axis text {
  font-family: sans-serif;
  font-size: 11px;
}
